{
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      },
    ],
    "@babel/plugin-transform-react-jsx",
    "@babel/plugin-transform-arrow-functions",
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry",
        "debug": false,
        "corejs": 3,
      }
    ],
    
  ] 
}